#header
  box-shadow: $normalShadow
  @media #{$small}
    background: url('../images/bkg_small.jpg')
    background-size: cover
    padding: 10px 0
  @media #{$large}
    background: url('../images/bkg.jpg')
    background-size: cover
    padding: 50px 0

#header-box
  background-color: rgba(0,0,0,.15)
  margin: auto
  padding: 30px
  max-width: $siteWidth - 200
  @media #{$small}
    margin: 0
    padding: 5px 0
  h1 
    margin-top: -8px
    @media #{$small}
      margin-top: 0px
  h4 
    margin-bottom: 0
  img 
    float: left
    margin-right: 40px
    border: 1px solid $dark_gray
    @media #{$small}
      height: 50px
      margin-right: 5px

#body
  max-width: $siteWidth
  margin: 0 auto
  @media #{$small}
    padding: 0 10px

.section
  h4
    margin-bottom: 0
  margin-top: 60px
  @media #{$small}
    margin-top: 40px
  .title
    display: inline-block
  .hr
    display: inline-block
    float: right
    height: 1px
    min-width: 75%
    margin-top: 12px
    +gradient(transparentize($light_gray, 1), opacify($light_gray, 1))

.tags
  list-style-type: none
  margin: 0
  padding: 0
  line-height: 1.25em
  li
    display: inline-block
    background-color: $light_gray
    padding: 0 5px
    margin-right: 4px
    
.item
  margin-top: 35px
  @media #{$small}
    margin-top: 20px
  margin-bottom: 0
  .title
    margin-bottom: 3px
  .location
    margin-right: 10px
    display: inline-block
  .time
    display: inline-block
    @media #{$small}
      display: block

.position
  @extend .item

.project
  @extend .item
  vertical-align: top
  width: 45%
  margin-right: 40px
  display: inline-block
  @media #{$small}
    width: 100%
    display: block
  .title a
    &:hover
      border-bottom: 1px solid $med_gray

.icon
  display: inline-block
  width: 100px
  height: 100px
  background-color: $light_gray
  fill: $med_gray
  &:hover
    fill: $dark_gray
  @media #{$small}
    margin: 4px 8px
  @media #{$large}
    margin: 30px 10px



