#header
  box-shadow: $normalShadow
  @media #{$small}
    background: url('../images/bkg_small.jpg')
    background-size: cover
    padding: 10px 0
  @media #{$large}
    background: url('../images/bkg.jpg')
    background-size: cover
    padding: 50px 0

#header-box
  background-color: rgba(0,0,0,.15)
  margin: auto
  padding: 30px
  max-width: $siteWidth - 300
  @media #{$small}
    margin: 0
    padding: 5px 0
  h1
    margin-top: -8px
    @media #{$small}
      margin-top: 0px
  h4
    margin-bottom: 0
  img
    float: left
    margin-right: 40px
    border: 1px solid $dark_gray
    @media #{$small}
      height: 50px
      width: 50px
      margin-right: 5px

#body
  max-width: $siteWidth
  margin: 0 auto
  @media #{$small}
    padding: 0 5px

.section
  h4
    margin-bottom: 0
  margin-top: 80px
  @media #{$small}
    margin-top: 40px
  .title
    display: inline-block
  .hr
    display: inline-block
    height: 1px
    margin: 0 0 9px 20px
    +gradient(opacify($light_gray, 1), transparentize($light_gray, 1))
    width: 50%
    @media #{$small}
      width: 25%

.tags
  list-style-type: none
  margin: 0
  padding: 0
  line-height: 1.25em
  li
    display: inline-block
    background-color: $light_gray
    padding: 0 5px
    margin-right: 4px

.item
  display: inline-block
  width: 45%
  margin: 35px 20px 0 20px
  vertical-align: top
  @media #{$small}
    margin-top: 20px
    margin-left: 10px
    width: 100%
    display: block
  .title
    display: inline
    margin-bottom: 3px
    a
      &:hover
        border-bottom: 1px solid $med_gray
  .location
    margin-right: 10px
    display: inline-block
  .time
    display: inline-block
    @media #{$small}
      display: block
  .icon-svg
    width: 16px
    height: 16px
    display: inline
    margin-right: 5px

.position
  @extend .item

.project
  @extend .item

#link-icons
  padding: 40px 5px
.link-container
  display: inline-block
.link-title
  display: inline-block
  position: absolute
  width: 100px
  text-align: center
  margin-left: 10px
  margin-top: 5px
  pointer-events: none
.link-svg
  display: inline-block
  width: 100px
  height: 100px
  background-color: $light_gray
  fill: $med_gray
  margin: 0px 10px
  pointer-events: none

#footer
  text-align: center
  margin-bottom: 20px
  margin-left: -140px
  @media #{$small}
    width: 100%
    margin-left: 0



