#header
  text-align: center
  box-shadow: $normalShadow
  @media #{$small}
    background: url('../images/bkg_small.jpg')
    background-size: cover
    padding: 1em
  @media #{$large}
    background: url('../images/bkg.jpg')
    background-size: cover
    padding: 50px 0

#title
  margin-bottom: .1em
#subtitle
  margin-bottom: .1em

#body
  max-width: $siteWidth
  margin: 0 auto
  @media #{$small}
    padding: 0 10px

.section
  margin-top: 60px
  margin-bottom: 0
  @media #{$small}
    margin-top: 40px

.item
  margin-top: 30px
  @media #{$small}
    margin-top: 20px
  margin-bottom: 0
  .location
    margin-right: 10px
    display: inline-block
  .time
    display: inline-block
    @media #{$small}
      display: block

.tags
  list-style-type: none
  margin: 0
  padding: 0
  line-height: 1.25em
  li
    display: inline-block
    background-color: $light_gray
    padding: 0 5px
    margin-right: 4px
