.position
  +body_text
  margin-top: 30px
  @media #{$small}
    margin-top: 20px
  margin-bottom: 0
  text-indent: 0
  .title
    color: $almost_black
    margin-right: 10px
    display: inline
  .time
    color: $med_gray
    font-size: 0.9em
    display: inline
    @media #{$small}
      display: block

.tags
  list-style-type: none
  margin: 0
  padding: 0
  li
    display: inline-block
    +header_text
    color: $almost_black
    background-color: $light_gray
    font-size: .8em
    padding: 0 5px
    margin: 0 2px