h1, h2, h3, h4, h5, h6
  +header_text

p
  +body_text

#header
  h1
    +header_style
    font-size: 4em
    @media #{$small}
      font-size: 1.6em
  h4
    +header_style
    font-size: 1.5em
    @media #{$small}
      font-size: 0.6em

.section
  font-size: 1.5em
  @media #{$small}
    font-size: 1.3em

.item
  +body_text
  text-indent: 0
  .title
    font-size: 1.1em
    a
      color: $dark_gray
      text-decoration: none
  .location
    color: $med_gray
    font-size: 0.9em
  .time
    color: $med_gray
    font-size: 0.8em

.tags
  li
    +header_text
    color: $almost_black
    font-size: .8em

#links
  a
    text-decoration: none