//=============================================
//Layout 

$siteWidth: 1024px


//=============================================
//Media Queries

$small: "only screen and (max-width: 768px)"
$large: "only screen and (min-width: 768px)"


//=============================================
//Typography

$heading_font: 'Raleway', sans-serif
=header_text
  font-family: $heading_font
  font-weight: 400
  @include css-hyphens(none)
  text-transform: uppercase
  -webkit-font-smoothing: antialiased

=header_style
  color: white
  text-shadow: $normalShadow

$body_font: 'Libre Baskerville', serif
=body_text
  font-family: $body_font
  font-weight: 400
  line-height: 1.5em
  -webkit-font-smoothing: antialiased
  font-size: .9em
  @media #{$small}
    font-size: 0.8em


//=============================================
//Colors

$light_gray: rgba(242,242,242,1)
$med_gray: rgba(128,128,128,1)
$dark_gray: rgba(68,68,68,1)
$almost_black: rgba(34,34,34,1)


//=============================================
//Effects
$normalShadow: 1px 1px 3px rgba(0,0,0,0.5)
