$heading_font: 'Julius Sans One', sans-serif
=header
  font-family: $heading_font
  font-weight: normal
  @include css-hyphens(none)
  text-transform: uppercase

$body_font: 'Libre Baskerville', serif
=body
  font-family: $body_font
  font-weight: normal
  line-height: 1.5em

$light_gray: #f2f2f2
$med_gray: #808080
$almost_black: #222222