<div class="education-item grid-item">
    {{ if .Params.link }}
    {{ $resource := resources.Get .Params.link }}
    <a href="{{ $resource.RelPermalink }}" target="_blank" rel="noopener noreferrer">
    {{ end }}
    <div>
        <h3>{{ .Title }}</h3>
        <p class="company">{{ .Params.company }}</p>
        <p class="location">{{ .Params.location }}</p>
        <p class="time">{{ .Date.Format "January 2006" }}</p>
        <ul class="tags">
            {{ range .Params.tags }}<li>{{ . }}</li>{{ end }}
        </ul>
    </div>
    {{ if .Params.link }}</a>{{ end }}
</div>
