@import 'vendor/normalize';
@import 'vendor/include-media';
@import 'https://fonts.googleapis.com/css?family=Lato:400|Roboto+Slab';
@import 'vars';

body {
    background-color: $color-background;
    color: $color-text;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab';
    font-weight: 400;
}

div, li, ul, section {
    box-sizing: border-box;
    padding: 0;
    margin: 0;        
}

a {
    color: $color-text;
    text-decoration: none;
}

header {
    background-color: $color-header;
    margin-bottom: 40px;
    padding: 30px 0;
    text-align: center;

    h1 {
        margin: 0;
        text-shadow: $shadow;
    }

    img {
        box-shadow: $shadow;
        height: 100px;
        margin-top: 20px;
        width: 100px;
    }

    h3 {
        text-shadow: $shadow;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-item {
    flex: 0 0 auto;
    padding: 5px;    
    width: 100%;

    @include media(">md") {
        padding: 10px 30px;        
        width: 50%;
    }
}

.tags {
    li {
        background-color: $color-tags;
        box-shadow: $shadow;
        cursor: default;
        display: inline-block;
        margin: 5px;
        padding: 5px;
    }
}

section {
    margin: auto;
    padding: 40px 10px;
    width: 100%;

    @include media(">md") {
        width: 80%;
    }

    @include media(">xl") {
        width: 60%;
    }

    h2 {
        text-shadow: $shadow;
    }

    .location {
        margin-bottom: 0;
    }

    .time {
        color: lighten($color-text, 25%);
        margin-top: 5px;
    }
}

footer {
    background-color: $color-footer;
    margin-top: 40px;
    padding: 40px 0;
    text-align: center;

    ul {
        padding-bottom: 40px;
    }

    li {
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
        display: block;
        padding: 20px;
        transition: background-color $transition-time, box-shadow ($transition-time * 2);
        will-change: box-shadow, background-color;

        @include media(">md") {
            display: inline-block
        }

        &:hover {
            background-color: $color-link-hover;
            box-shadow: $shadow;
        }   
    }
}