@import 'vendor/normalize';
@import 'vendor/include-media';
@import 'https://fonts.googleapis.com/css?family=Lato:300|Roboto+Slab';
@import 'vars';

body {
    background-color: $color-background;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab';
    font-weight: 400;
}

div, li, ul {
    box-sizing: border-box;
    padding: 0;
    margin: 0;        
}

a {
    color: black;
    text-decoration: none;
}

header {
    background-color: $color-header;
    padding: 30px 0;
    text-align: center;

    h1 {
        margin: 0;
    }

    img {
        height: 100px;
        margin-top: 20px;
        width: 100px;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-item {
    flex: 0 0 auto;
    padding: 5px;    
    width: 100%;

    @include media(">md") {
        padding: 10px 30px;        
        width: 50%;
    }
}

.tags {
    li {
        background-color: $color-tags;
        display: inline-block;
        margin: 5px;
        padding: 5px;
    }
}

section {
    margin: auto;
    padding: 20px 10px;
    width: 100%;

    @include media(">md") {
        width: 80%;
    }

    @include media(">xl") {
        width: 60%;
    }
}

footer {
    background-color: $color-footer;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;

    ul {
        padding-bottom: 40px;
    }

    li {
        display: block;
        padding: 20px;
        transition: background-color $transition-time;

        @include media(">md") {
            display: inline-block
        }     

        &:hover {
            background-color: $color-link-hover;
        }   
    }
}