<div class="footer">
    <h2>Find Me</h2>
    <ul class="links">
        <li><a href="mailto:thearrow3456@gmail.com">Email</a></li>
        <li><a href="https://github.com/thearrow">GitHub</a></li>
        <li><a href="https://gitlab.com/u/thearrow">GitLab</a></li>        
        <li><a href="http://careers.stackoverflow.com/jakeklingler">StackOverflow</a></li>
        <li><a href="http://www.goodreads.com/user/show/8126915-jake-klingler">Goodreads</a></li>
        <li><a href="http://www.linkedin.com/in/jakeklingler">LinkedIn</a></li>
        <li><a href="https://twitter.com/jake_klingler">Twitter</a></li>    
        <li><a href="https://plus.google.com/u/0/101591687952158705937">Google+</a></li>    
    </ul>
</div>

