<footer>
    <h2>Find Me</h2>
    <ul class="links">
        <a href="mailto:thearrow3456@gmail.com"><li>Email</li></a>
        <a href="https://github.com/thearrow"><li>GitHub</li></a>
        <a href="https://gitlab.com/u/thearrow"><li>GitLab</li></a>        
        <a href="http://careers.stackoverflow.com/jakeklingler"><li>StackOverflow</li></a>
        <a href="http://www.goodreads.com/user/show/8126915-jake-klingler"><li>Goodreads</li></a>
        <a href="http://www.linkedin.com/in/jakeklingler"><li>LinkedIn</li></a>
        <a href="https://twitter.com/jake_klingler"><li>Twitter</li></a>    
        <a href="https://plus.google.com/u/0/101591687952158705937"><li>Google+</li></a>    
    </ul>
</footer>

