<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ .Title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="favicon-32x32.png" type="image/png">
        <link rel="stylesheet" href="styles/index.css">
    </head>
    <body>
        {{ partial "header.html" }}

        <h2>Work</h2>
        <div class="work">
            {{ range where .Data.Pages "Section" "work" }}
                {{ .Render "summary" }}
            {{ end }}
        </div>

        <h2>Projects</h2>
        <div class="projects">
            {{ range where .Data.Pages "Section" "projects" }}
                {{ .Render "summary" }}
            {{ end }}
        </div>

        <h2>Education</h2>
        <div class="education">
            {{ range where .Data.Pages "Section" "education" }}
                {{ .Render "summary" }}
            {{ end }}
        </div>

        {{ partial "footer.html" }}
        <script src="scripts/index.js"></script>
    </body>
</html>