<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ .Title }}</title>
        <meta name="description" content="I'm Jake Klingler, a Software Engineer. I build beautiful, fast software.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{ $favicon := resources.Get "favicons/favicon.ico" }}
        <link rel="shortcut icon" href="{{ $favicon.RelPermalink }}" type="image/x-icon">
        {{ $faviconPng := resources.Get "favicons/favicon-32x32.png" }}
        <link rel="shortcut icon" href="{{ $faviconPng.RelPermalink }}" type="image/png">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Roboto+Slab:400">
        {{ $style := resources.Get "styles/index.scss" | css.Sass | resources.Minify }}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    </head>
    <body>
        {{ partial "header.html" }}

        <section>
            <h2>Work</h2>
            <div class="work grid">
                {{ range where .Site.RegularPages "Section" "work" }}
                    {{ .Render "summary" }}
                {{ end }}
            </div>
        </section>

        <section>
            <h2>Projects</h2>
            <div class="projects grid">
                {{ range where .Site.RegularPages "Section" "projects" }}
                    {{ .Render "summary" }}
                {{ end }}
            </div>
        </section>

        <section>
            <h2>Education</h2>
            <div class="education grid">
                {{ range where .Site.RegularPages "Section" "education" }}
                    {{ .Render "summary" }}
                {{ end }}
            </div>
        </section>

        {{ partial "footer.html" }}
    </body>
</html>
