<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ .Title }}</title>
        <meta name="description" content="I'm Jake Klingler, a Software Engineer. I build beautiful, fast software.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="favicon-32x32.png" type="image/png">
        <link rel="stylesheet" href="styles/index.css">
        <script>
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', 'UA-43210809-2', {'siteSpeedSampleRate': 100});
            ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
    </head>
    <body>
        {{ partial "header.html" }}

        <section>
            <h2>Work</h2>
            <div class="work grid">
                {{ range where .Data.Pages "Section" "work" }}
                    {{ .Render "summary" }}
                {{ end }}
            </div>
        </section>

        <section>        
            <h2>Projects</h2>
            <div class="projects grid">
                {{ range where .Data.Pages "Section" "projects" }}
                    {{ .Render "summary" }}
                {{ end }}
            </div>
        </section>

        <section>
            <h2>Education</h2>
            <div class="education grid">
                {{ range where .Data.Pages "Section" "education" }}
                    {{ .Render "summary" }}
                {{ end }}
            </div>
        </section>

        {{ partial "footer.html" }}
        <script src="scripts/index.js"></script>
    </body>
</html>
